{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>admit Card</title>



  </head>
  <body>
    
<section>
	<div class="container">
		<div class="admit-card">
			<div class="BoxA border- padding mar-bot"> 
				<div class="row">
					<div class="col-sm-4">
						<h5>PreSkool</h5>
						<p>#576 Peenya 2nd Stage, Bengaluru-562162<br> Karnataka, INDIA</p>
					</div>
					
					<div class="col-sm-4">
						<h5>Admit Card</h5>
						<p>B.Tech - 2022</p>
					</div>
				</div>
			</div>
			<div class="BoxC border- padding mar-bot">
				<div class="row">
					<div class="col-sm-6">
						<h5>Enrollment No : 1</h5>
					</div>
				</div>
			</div>
			<div class="BoxD border- padding mar-bot">
				<div class="row">
					<div class="col-sm-10">
						<table class="table table-bordered">
						  <tbody>
							<tr>
							  <td><b>ENROLLMENT NO : 1</b></td>
							  <td><b>Course: </b> B.TECH</td>
							</tr>
							<tr>
							  <td><b>Student Name: </b>Sumukha</td>
							  <td><b>Sex: </b>M</td>
							</tr>
							
							<tr>
							  <td colspan="2" style="    height: 125px;"><b>Address: </b>Madavara, Bengaluru</td>
							</tr>
						  </tbody>
						</table>
					</div>
					<div class="col-sm-2 txt-center">
						<table class="table table-bordered">
						  <tbody>
							<tr>
							  <th scope="row txt-center"><img src="{% static 'assets/img/wallpaperflare.com_wallpaper_2.jpg' %}" width="123px" height="165px" /></th>
							</tr>
							
						  </tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="BoxF border- padding mar-bot txt-center">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Sr. No.</th>
									<th>Subject/Paper</th>
									<th>Exam Date</th>
								</tr>
							</thead>
						  <tbody>
							<tr>
							  <td>1</td>
							  <td>Operating Systems</td>
							  <td>5 July 2022</td>
							</tr>
							<tr>
							  <td>2</td>
							  <td>Database Systems</td>
							  <td>6 July 2022</td>
							</tr>
							<tr>
							  <td>3</td>
							  <td>Compilers</td>
							  <td>7 July 2022</td>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
			<footer class="txt-center">
				<p>*** Preskool ***</p>
			</footer>
			
		</div>
	</div>
	
</section>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock  %}